.Head {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	z-index:2;
}
.Header {
	z-index: 2;
	display: flex;
	background-color: rgba(50, 118, 186, 0.9);
	padding: 0 3rem 0 3rem;
	box-shadow: 0px 0px 10px;
}
.HeadBangHi {
	z-index: -1;
	opacity: 0;
	transform: translateY(-100%);
}
.HeadBangSh {
	z-index: 1;
	opacity: 1;
	background-color: #FFFFFF;
	transition: ease 500ms;
	transform: translateY(0%);
}
.BlueLineInHead {
	margin: 0 0 0 0;
	width: 100%;
	background-color: rgba(50, 118, 186, 0.9);
	height: 0.5rem;
}
.BlueLineInHeadbelow {
  padding: 0.7rem 0 0.7rem 0;
	display: flex;
	justify-content: space-around;
}
.Header img {
  width: 24vw;
  outline: 0px solid red;
}
.Header nav {
	display: flex;
  font-size: 1.6vw;
  color: #FFFFFF;
  margin-left: auto;
  outline: 0px solid red;
}
.Header nav ul {
  display: flex;
  gap: 1.7rem;
  list-style: none;
  outline: 0px solid orange;
}
.Header nav ul li i {
	
}
.Header nav ul li {
	font-weight: 700;
	height: 100%;
	outline: 0px solid red;
}
.Header nav ul li:after {
  display:block;
  content: '';
  border-bottom: solid 2px orange;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.Header nav ul li:hover:after {
	transform: scaleX(1);
}
.Header nav ul .headtext .headtextbox {	/* box of abouts n products */
	border: 1px solid grey;
	display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	min-width: 10vw;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 99;
  display: none;
}
.Header nav ul .headtext:focus .headtextbox {
	display: block;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.Header nav ul .headtext .headtextbox li {		/* abouts and products */
	font-size: 1.5vw;
	font-weight: 50;
	color: #000000;
	padding: 0.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
