@font-face {
  font-family: Helvetica Neue;
  src: url(../font/Helvetica.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
* {
	box-sizing: border-box;
	font-family: 'Helvetica', 'Arial', sans-serif;
	cursor:auto;
	caret-color: transparent;
}
html, body {
	margin: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(200, 200,200, 0.3);
}
/* fornttexts anime */
.textHI {
	transform: translateY(80%);
	opacity: 0;
  transition: 500ms ease-in-out;
}
.textSH {
	transform: translateY(0%);
	opacity: 1;
}






