.pTex {
	padding:1rem 2rem 1rem 2rem;
	border-radius:10px;
	font-weight:600;
	background-color:#000000;
	color:#FFFFFF;
	text-align:center;
	position:absolute;
	left:0;
	transform:translateY(-200%);
	border:2px solid red;
	opacity:0;
}
.pTexSH {
  z-index:2;
	opacity:1;
	transform:translateY(0%);
	border:2px solid orage;
}


@media only screen and (max-width: 600px) {
	
}
