.pTex {
	position: absolute;
	width:70vw;
	margin:0 0;
	transform: translate(0, -20vw);
	border:2px solid orange;
	background-color:#FFFFFF;
	padding:2rem 2rem 2rem 2rem;
}

.Rectangles .grid-box:focus .pTex {
	
}

@media only screen and (max-width: 600px) {
	.pTex {
		position: absolute;
		width:70vw;
		
		border:2px solid orange;
		background-color:#FFFFFF;
	}
}
